-- ===============================================================
-- DATENBANK-SCHEMA EXPORT
-- Datum: 2025-12-26 08:59:04
-- ===============================================================

-- Aktuelle Datenbank: laravel_tutorial

-- Gefundene Tabellen: 36
-- adressen, angebot_logs, angebot_positionen, angebote, artikel_gebaeude, bank_buchungen, bank_import_logs, bank_matching_config, cache, cache_locks, failed_jobs, fattura_profile, fattura_xml_logs, gebaeude, gebaeude_aufschlaege, gebaeude_dokumente, gebaeude_logs, job_batches, jobs, mahnung_ausschluesse, mahnung_einstellungen, mahnung_rechnung_ausschluesse, mahnung_stufen, mahnungen, migrations, password_reset_tokens, preis_aufschlaege, rechnung_logs, rechnung_positionen, rechnungen, sessions, timeline, tour, tourgebaeude, unternehmensprofil, users

-- ===============================================================
-- Table: adressen
-- ===============================================================

DROP TABLE IF EXISTS `adressen`;

CREATE TABLE `adressen` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `legacy_id` bigint(20) unsigned DEFAULT NULL COMMENT 'Alte Access ID',
  `legacy_mid` bigint(20) unsigned DEFAULT NULL COMMENT 'Alte Access mId (Referenz-Schl├╝ssel)',
  `name` varchar(200) NOT NULL,
  `strasse` varchar(255) DEFAULT NULL,
  `hausnummer` varchar(100) DEFAULT NULL,
  `plz` varchar(10) DEFAULT NULL,
  `wohnort` varchar(100) DEFAULT NULL,
  `provinz` varchar(4) DEFAULT NULL,
  `land` varchar(50) DEFAULT NULL,
  `telefon` varchar(50) DEFAULT NULL,
  `handy` varchar(50) DEFAULT NULL,
  `email` varchar(255) DEFAULT NULL,
  `email_zweit` varchar(255) DEFAULT NULL,
  `pec` varchar(255) DEFAULT NULL,
  `steuernummer` varchar(50) DEFAULT NULL,
  `mwst_nummer` varchar(50) DEFAULT NULL,
  `codice_univoco` varchar(20) DEFAULT NULL,
  `bemerkung` text DEFAULT NULL,
  `veraendert` tinyint(1) NOT NULL DEFAULT 0,
  `veraendert_wann` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_adressen_legacy_mid` (`legacy_mid`)
) ENGINE=InnoDB AUTO_INCREMENT=1164 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;


-- ===============================================================
-- Table: angebot_logs
-- ===============================================================

DROP TABLE IF EXISTS `angebot_logs`;

CREATE TABLE `angebot_logs` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `angebot_id` bigint(20) unsigned NOT NULL,
  `user_id` bigint(20) unsigned DEFAULT NULL,
  `typ` varchar(50) NOT NULL,
  `titel` varchar(255) NOT NULL,
  `nachricht` text DEFAULT NULL,
  `metadata` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`metadata`)),
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `angebot_logs_user_id_foreign` (`user_id`),
  KEY `angebot_logs_angebot_id_created_at_index` (`angebot_id`,`created_at`),
  CONSTRAINT `angebot_logs_angebot_id_foreign` FOREIGN KEY (`angebot_id`) REFERENCES `angebote` (`id`) ON DELETE CASCADE,
  CONSTRAINT `angebot_logs_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=92 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;


-- ===============================================================
-- Table: angebot_positionen
-- ===============================================================

DROP TABLE IF EXISTS `angebot_positionen`;

CREATE TABLE `angebot_positionen` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `angebot_id` bigint(20) unsigned NOT NULL,
  `artikel_gebaeude_id` bigint(20) unsigned DEFAULT NULL,
  `position` int(11) NOT NULL DEFAULT 0,
  `beschreibung` varchar(500) NOT NULL,
  `anzahl` decimal(10,2) NOT NULL DEFAULT 1.00,
  `einheit` varchar(50) NOT NULL DEFAULT 'St├╝ck',
  `einzelpreis` decimal(12,2) NOT NULL,
  `gesamtpreis` decimal(12,2) NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `angebot_positionen_artikel_gebaeude_id_foreign` (`artikel_gebaeude_id`),
  KEY `angebot_positionen_angebot_id_index` (`angebot_id`),
  CONSTRAINT `angebot_positionen_angebot_id_foreign` FOREIGN KEY (`angebot_id`) REFERENCES `angebote` (`id`) ON DELETE CASCADE,
  CONSTRAINT `angebot_positionen_artikel_gebaeude_id_foreign` FOREIGN KEY (`artikel_gebaeude_id`) REFERENCES `artikel_gebaeude` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=64 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;


-- ===============================================================
-- Table: angebote
-- ===============================================================

DROP TABLE IF EXISTS `angebote`;

CREATE TABLE `angebote` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `jahr` int(11) NOT NULL,
  `laufnummer` int(11) NOT NULL,
  `gebaeude_id` bigint(20) unsigned DEFAULT NULL,
  `adresse_id` bigint(20) unsigned DEFAULT NULL,
  `fattura_profile_id` bigint(20) unsigned DEFAULT NULL,
  `empfaenger_name` varchar(255) DEFAULT NULL,
  `empfaenger_strasse` varchar(255) DEFAULT NULL,
  `empfaenger_hausnummer` varchar(255) DEFAULT NULL,
  `empfaenger_plz` varchar(255) DEFAULT NULL,
  `empfaenger_ort` varchar(255) DEFAULT NULL,
  `empfaenger_land` varchar(255) DEFAULT NULL,
  `empfaenger_email` varchar(255) DEFAULT NULL,
  `empfaenger_steuernummer` varchar(255) DEFAULT NULL,
  `empfaenger_codice_fiscale` varchar(255) DEFAULT NULL,
  `empfaenger_pec` varchar(255) DEFAULT NULL,
  `empfaenger_codice_destinatario` varchar(7) DEFAULT NULL,
  `geb_codex` varchar(255) DEFAULT NULL,
  `geb_name` varchar(255) DEFAULT NULL,
  `geb_strasse` varchar(255) DEFAULT NULL,
  `geb_plz` varchar(255) DEFAULT NULL,
  `geb_ort` varchar(255) DEFAULT NULL,
  `titel` varchar(255) DEFAULT NULL,
  `datum` date NOT NULL,
  `gueltig_bis` date DEFAULT NULL,
  `netto_summe` decimal(12,2) NOT NULL DEFAULT 0.00,
  `mwst_satz` decimal(5,2) NOT NULL DEFAULT 22.00,
  `mwst_betrag` decimal(12,2) NOT NULL DEFAULT 0.00,
  `brutto_summe` decimal(12,2) NOT NULL DEFAULT 0.00,
  `einleitung` text DEFAULT NULL,
  `bemerkung_kunde` text DEFAULT NULL,
  `bemerkung_intern` text DEFAULT NULL,
  `status` enum('entwurf','versendet','angenommen','abgelehnt','abgelaufen','rechnung') NOT NULL DEFAULT 'entwurf',
  `versendet_am` timestamp NULL DEFAULT NULL,
  `versendet_an_email` varchar(255) DEFAULT NULL,
  `rechnung_id` bigint(20) unsigned DEFAULT NULL,
  `umgewandelt_am` timestamp NULL DEFAULT NULL,
  `pdf_pfad` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `angebote_jahr_laufnummer_unique` (`jahr`,`laufnummer`),
  KEY `angebote_adresse_id_foreign` (`adresse_id`),
  KEY `angebote_fattura_profile_id_foreign` (`fattura_profile_id`),
  KEY `angebote_rechnung_id_foreign` (`rechnung_id`),
  KEY `angebote_status_index` (`status`),
  KEY `angebote_datum_index` (`datum`),
  KEY `angebote_gebaeude_id_index` (`gebaeude_id`),
  CONSTRAINT `angebote_adresse_id_foreign` FOREIGN KEY (`adresse_id`) REFERENCES `adressen` (`id`) ON DELETE SET NULL,
  CONSTRAINT `angebote_fattura_profile_id_foreign` FOREIGN KEY (`fattura_profile_id`) REFERENCES `fattura_profile` (`id`) ON DELETE SET NULL,
  CONSTRAINT `angebote_gebaeude_id_foreign` FOREIGN KEY (`gebaeude_id`) REFERENCES `gebaeude` (`id`) ON DELETE SET NULL,
  CONSTRAINT `angebote_rechnung_id_foreign` FOREIGN KEY (`rechnung_id`) REFERENCES `rechnungen` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;


-- ===============================================================
-- Table: artikel_gebaeude
-- ===============================================================

DROP TABLE IF EXISTS `artikel_gebaeude`;

CREATE TABLE `artikel_gebaeude` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `legacy_id` bigint(20) unsigned DEFAULT NULL COMMENT 'Alte Access ID',
  `legacy_mid` bigint(20) unsigned DEFAULT NULL COMMENT 'Alte Access mId',
  `gebaeude_id` bigint(20) unsigned NOT NULL,
  `beschreibung` varchar(255) NOT NULL,
  `anzahl` decimal(10,2) NOT NULL DEFAULT 1.00,
  `einzelpreis` decimal(10,2) NOT NULL DEFAULT 0.00,
  `basis_jahr` year(4) NOT NULL,
  `basis_preis` decimal(12,2) NOT NULL,
  `aktiv` tinyint(1) NOT NULL DEFAULT 1,
  `reihenfolge` int(10) unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `artikel_gebaeude_gebaeude_id_aktiv_index` (`gebaeude_id`,`aktiv`),
  KEY `artikel_gebaeude_gebaeude_id_reihenfolge_index` (`gebaeude_id`,`reihenfolge`),
  KEY `idx_artikel_gebaeude_legacy_mid` (`legacy_mid`),
  CONSTRAINT `artikel_gebaeude_gebaeude_id_foreign` FOREIGN KEY (`gebaeude_id`) REFERENCES `gebaeude` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4821 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;


-- ===============================================================
-- Table: bank_buchungen
-- ===============================================================

DROP TABLE IF EXISTS `bank_buchungen`;

CREATE TABLE `bank_buchungen` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `import_datei` varchar(255) DEFAULT NULL COMMENT 'Dateiname des Imports',
  `import_hash` varchar(255) DEFAULT NULL COMMENT 'Hash zur Duplikat-Erkennung',
  `import_datum` timestamp NULL DEFAULT NULL,
  `iban` varchar(34) DEFAULT NULL,
  `konto_name` varchar(255) DEFAULT NULL,
  `ntry_ref` varchar(255) DEFAULT NULL COMMENT 'NtryRef aus XML',
  `msg_id` varchar(255) DEFAULT NULL COMMENT 'MsgId aus XML-Header',
  `betrag` decimal(12,2) NOT NULL,
  `waehrung` varchar(3) NOT NULL DEFAULT 'EUR',
  `typ` enum('CRDT','DBIT') NOT NULL COMMENT 'CRDT=Eingang, DBIT=Ausgang',
  `buchungsdatum` date NOT NULL,
  `valutadatum` date DEFAULT NULL,
  `tx_code` varchar(20) DEFAULT NULL COMMENT 'BkTxCd z.B. 48//26',
  `tx_issuer` varchar(10) DEFAULT NULL COMMENT 'CBI etc.',
  `gegenkonto_name` varchar(255) DEFAULT NULL,
  `gegenkonto_iban` varchar(34) DEFAULT NULL,
  `verwendungszweck` text DEFAULT NULL COMMENT 'AddtlTxInf',
  `rechnung_id` bigint(20) unsigned DEFAULT NULL,
  `match_status` enum('unmatched','matched','partial','manual','ignored') NOT NULL DEFAULT 'unmatched',
  `match_info` text DEFAULT NULL,
  `matched_at` timestamp NULL DEFAULT NULL,
  `bemerkung` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `bank_buchungen_buchungsdatum_index` (`buchungsdatum`),
  KEY `bank_buchungen_typ_index` (`typ`),
  KEY `bank_buchungen_match_status_index` (`match_status`),
  KEY `bank_buchungen_rechnung_id_index` (`rechnung_id`),
  KEY `bank_buchungen_import_hash_index` (`import_hash`),
  KEY `bank_buchungen_iban_buchungsdatum_index` (`iban`,`buchungsdatum`),
  CONSTRAINT `bank_buchungen_rechnung_id_foreign` FOREIGN KEY (`rechnung_id`) REFERENCES `rechnungen` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=6776 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;


-- ===============================================================
-- Table: bank_import_logs
-- ===============================================================

DROP TABLE IF EXISTS `bank_import_logs`;

CREATE TABLE `bank_import_logs` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `dateiname` varchar(255) NOT NULL,
  `datei_hash` varchar(255) NOT NULL,
  `anzahl_buchungen` int(11) NOT NULL DEFAULT 0,
  `anzahl_neu` int(11) NOT NULL DEFAULT 0,
  `anzahl_duplikate` int(11) NOT NULL DEFAULT 0,
  `anzahl_matched` int(11) NOT NULL DEFAULT 0,
  `iban` varchar(34) DEFAULT NULL,
  `von_datum` date DEFAULT NULL,
  `bis_datum` date DEFAULT NULL,
  `saldo_anfang` decimal(12,2) DEFAULT NULL,
  `saldo_ende` decimal(12,2) DEFAULT NULL,
  `meta` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`meta`)),
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `bank_import_logs_datei_hash_unique` (`datei_hash`)
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;


-- ===============================================================
-- Table: bank_matching_config
-- ===============================================================

DROP TABLE IF EXISTS `bank_matching_config`;

CREATE TABLE `bank_matching_config` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `score_iban_match` int(11) NOT NULL DEFAULT 100,
  `score_cig_match` int(11) NOT NULL DEFAULT 80,
  `score_rechnungsnr_match` int(11) NOT NULL DEFAULT 50,
  `score_betrag_exakt` int(11) NOT NULL DEFAULT 30,
  `score_betrag_nah` int(11) NOT NULL DEFAULT 15,
  `score_betrag_abweichung` int(11) NOT NULL DEFAULT -40,
  `score_name_token_exact` int(11) NOT NULL DEFAULT 10,
  `score_name_token_partial` int(11) NOT NULL DEFAULT 5,
  `auto_match_threshold` int(11) NOT NULL DEFAULT 80,
  `betrag_abweichung_limit` int(11) NOT NULL DEFAULT 30,
  `betrag_toleranz_exakt` decimal(8,2) NOT NULL DEFAULT 0.10,
  `betrag_toleranz_nah` decimal(8,2) NOT NULL DEFAULT 2.00,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;


-- ===============================================================
-- Table: cache
-- ===============================================================

DROP TABLE IF EXISTS `cache`;

CREATE TABLE `cache` (
  `key` varchar(255) NOT NULL,
  `value` mediumtext NOT NULL,
  `expiration` int(11) NOT NULL,
  PRIMARY KEY (`key`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;


-- ===============================================================
-- Table: cache_locks
-- ===============================================================

DROP TABLE IF EXISTS `cache_locks`;

CREATE TABLE `cache_locks` (
  `key` varchar(255) NOT NULL,
  `owner` varchar(255) NOT NULL,
  `expiration` int(11) NOT NULL,
  PRIMARY KEY (`key`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;


-- ===============================================================
-- Table: failed_jobs
-- ===============================================================

DROP TABLE IF EXISTS `failed_jobs`;

CREATE TABLE `failed_jobs` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `uuid` varchar(255) NOT NULL,
  `connection` text NOT NULL,
  `queue` text NOT NULL,
  `payload` longtext NOT NULL,
  `exception` longtext NOT NULL,
  `failed_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `failed_jobs_uuid_unique` (`uuid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;


-- ===============================================================
-- Table: fattura_profile
-- ===============================================================

DROP TABLE IF EXISTS `fattura_profile`;

CREATE TABLE `fattura_profile` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `bezeichnung` varchar(100) NOT NULL,
  `bemerkung` text DEFAULT NULL,
  `split_payment` tinyint(1) NOT NULL DEFAULT 0,
  `reverse_charge` tinyint(1) NOT NULL DEFAULT 0,
  `ritenuta` tinyint(1) NOT NULL DEFAULT 0,
  `mwst_satz` decimal(5,2) NOT NULL DEFAULT 22.00,
  `code` varchar(30) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `fattura_profile_code_unique` (`code`),
  KEY `fattura_profile_split_payment_ritenuta_index` (`split_payment`,`ritenuta`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;


-- ===============================================================
-- Table: fattura_xml_logs
-- ===============================================================

DROP TABLE IF EXISTS `fattura_xml_logs`;

CREATE TABLE `fattura_xml_logs` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `rechnung_id` bigint(20) unsigned NOT NULL,
  `progressivo_invio` varchar(50) NOT NULL,
  `formato_trasmissione` varchar(10) NOT NULL DEFAULT 'FPR12',
  `codice_destinatario` varchar(7) DEFAULT NULL,
  `pec_destinatario` varchar(255) DEFAULT NULL,
  `xml_file_path` varchar(255) DEFAULT NULL,
  `xml_filename` varchar(255) DEFAULT NULL,
  `xml_file_size` int(10) unsigned DEFAULT NULL,
  `p7m_file_path` varchar(255) DEFAULT NULL,
  `p7m_filename` varchar(255) DEFAULT NULL,
  `xml_content` longtext DEFAULT NULL,
  `status` varchar(50) NOT NULL DEFAULT 'pending',
  `status_detail` varchar(100) DEFAULT NULL,
  `sdi_status_code` varchar(10) DEFAULT NULL,
  `generated_at` timestamp NULL DEFAULT NULL,
  `signed_at` timestamp NULL DEFAULT NULL,
  `sent_at` timestamp NULL DEFAULT NULL,
  `delivered_at` timestamp NULL DEFAULT NULL,
  `finalized_at` timestamp NULL DEFAULT NULL,
  `is_valid` tinyint(1) NOT NULL DEFAULT 0,
  `validation_errors` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`validation_errors`)),
  `error_message` text DEFAULT NULL,
  `error_details` text DEFAULT NULL,
  `retry_count` tinyint(3) unsigned NOT NULL DEFAULT 0,
  `sdi_ricevuta` text DEFAULT NULL,
  `sdi_notifiche` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`sdi_notifiche`)),
  `sdi_last_message` text DEFAULT NULL,
  `sdi_last_check_at` timestamp NULL DEFAULT NULL,
  `notizen` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `fattura_xml_logs_progressivo_invio_unique` (`progressivo_invio`),
  KEY `fattura_xml_logs_rechnung_id_index` (`rechnung_id`),
  KEY `fattura_xml_logs_status_index` (`status`),
  KEY `fattura_xml_logs_generated_at_index` (`generated_at`),
  KEY `fattura_xml_logs_sent_at_index` (`sent_at`),
  KEY `fattura_xml_logs_rechnung_id_status_index` (`rechnung_id`,`status`),
  CONSTRAINT `fattura_xml_logs_rechnung_id_foreign` FOREIGN KEY (`rechnung_id`) REFERENCES `rechnungen` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=70 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;


-- ===============================================================
-- Table: gebaeude
-- ===============================================================

DROP TABLE IF EXISTS `gebaeude`;

CREATE TABLE `gebaeude` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `legacy_id` bigint(20) unsigned DEFAULT NULL COMMENT 'Alte Access ID',
  `legacy_mid` bigint(20) unsigned DEFAULT NULL COMMENT 'Alte Access mId (Referenz-Schl├╝ssel)',
  `paoloweb_id` int(10) unsigned DEFAULT NULL COMMENT 'ID aus paoloWeb Import',
  `codex` varchar(15) DEFAULT NULL,
  `postadresse_id` bigint(20) unsigned DEFAULT NULL,
  `rechnungsempfaenger_id` bigint(20) unsigned DEFAULT NULL,
  `gebaeude_name` varchar(100) DEFAULT NULL,
  `strasse` varchar(255) DEFAULT NULL,
  `hausnummer` varchar(100) DEFAULT NULL,
  `plz` varchar(50) DEFAULT NULL,
  `wohnort` varchar(100) DEFAULT NULL,
  `telefon` varchar(50) DEFAULT NULL,
  `handy` varchar(50) DEFAULT NULL,
  `email` varchar(255) DEFAULT NULL,
  `land` varchar(50) DEFAULT NULL,
  `bemerkung` text DEFAULT NULL,
  `bemerkung_buchhaltung` text DEFAULT NULL,
  `cup` varchar(20) DEFAULT NULL,
  `cig` varchar(10) DEFAULT NULL,
  `codice_commessa` varchar(100) DEFAULT NULL,
  `auftrag_id` varchar(50) DEFAULT NULL,
  `auftrag_datum` date DEFAULT NULL,
  `fattura_profile_id` bigint(20) unsigned DEFAULT NULL,
  `bank_match_text_template` text DEFAULT NULL,
  `veraendert` tinyint(1) NOT NULL DEFAULT 0,
  `veraendert_wann` timestamp NULL DEFAULT NULL,
  `letzter_termin` date DEFAULT NULL,
  `datum_faelligkeit` date DEFAULT NULL,
  `geplante_reinigungen` int(11) NOT NULL DEFAULT 1,
  `gemachte_reinigungen` int(11) NOT NULL DEFAULT 1,
  `faellig` tinyint(1) NOT NULL DEFAULT 0,
  `rechnung_schreiben` tinyint(1) NOT NULL DEFAULT 0,
  `m01` tinyint(1) NOT NULL DEFAULT 0,
  `m02` tinyint(1) NOT NULL DEFAULT 0,
  `m03` tinyint(1) NOT NULL DEFAULT 0,
  `m04` tinyint(1) NOT NULL DEFAULT 0,
  `m05` tinyint(1) NOT NULL DEFAULT 0,
  `m06` tinyint(1) NOT NULL DEFAULT 0,
  `m07` tinyint(1) NOT NULL DEFAULT 0,
  `m08` tinyint(1) NOT NULL DEFAULT 0,
  `m09` tinyint(1) NOT NULL DEFAULT 0,
  `m10` tinyint(1) NOT NULL DEFAULT 0,
  `m11` tinyint(1) NOT NULL DEFAULT 0,
  `m12` tinyint(1) NOT NULL DEFAULT 0,
  `select_tour` bigint(20) unsigned DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `gebaeude_postadresse_id_foreign` (`postadresse_id`),
  KEY `gebaeude_rechnungsempfaenger_id_foreign` (`rechnungsempfaenger_id`),
  KEY `gebaeude_auftrag_id_index` (`auftrag_id`),
  KEY `gebaeude_fattura_profile_id_index` (`fattura_profile_id`),
  KEY `idx_gebaeude_legacy_mid` (`legacy_mid`),
  KEY `gebaeude_paoloweb_id_index` (`paoloweb_id`),
  CONSTRAINT `gebaeude_postadresse_id_foreign` FOREIGN KEY (`postadresse_id`) REFERENCES `adressen` (`id`) ON DELETE CASCADE,
  CONSTRAINT `gebaeude_rechnungsempfaenger_id_foreign` FOREIGN KEY (`rechnungsempfaenger_id`) REFERENCES `adressen` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=6699 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;


-- ===============================================================
-- Table: gebaeude_aufschlaege
-- ===============================================================

DROP TABLE IF EXISTS `gebaeude_aufschlaege`;

CREATE TABLE `gebaeude_aufschlaege` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `gebaeude_id` bigint(20) unsigned NOT NULL,
  `prozent` decimal(5,2) NOT NULL DEFAULT 0.00 COMMENT '├£berschreibt globalen Aufschlag. 0 = keine Erh├Âhung',
  `grund` varchar(500) DEFAULT NULL COMMENT 'Z.B. "Langzeitvertrag bis 2027"',
  `gueltig_ab` date DEFAULT NULL COMMENT 'Ab wann gilt dieser Aufschlag',
  `gueltig_bis` date DEFAULT NULL COMMENT 'Bis wann gilt dieser Aufschlag (NULL = unbegrenzt)',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `gebaeude_aufschlaege_gebaeude_id_gueltig_ab_gueltig_bis_index` (`gebaeude_id`,`gueltig_ab`,`gueltig_bis`),
  CONSTRAINT `gebaeude_aufschlaege_gebaeude_id_foreign` FOREIGN KEY (`gebaeude_id`) REFERENCES `gebaeude` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;


-- ===============================================================
-- Table: gebaeude_dokumente
-- ===============================================================

DROP TABLE IF EXISTS `gebaeude_dokumente`;

CREATE TABLE `gebaeude_dokumente` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `gebaeude_id` bigint(20) unsigned NOT NULL,
  `titel` varchar(255) NOT NULL,
  `beschreibung` text DEFAULT NULL,
  `kategorie` varchar(100) DEFAULT NULL,
  `dateiname` varchar(255) NOT NULL,
  `original_name` varchar(255) NOT NULL,
  `dateityp` varchar(150) NOT NULL,
  `dateiendung` varchar(20) NOT NULL,
  `dateigroesse` bigint(20) unsigned NOT NULL,
  `pfad` varchar(500) NOT NULL,
  `dokument_datum` date DEFAULT NULL,
  `tags` varchar(500) DEFAULT NULL,
  `ist_wichtig` tinyint(1) NOT NULL DEFAULT 0,
  `ist_archiviert` tinyint(1) NOT NULL DEFAULT 0,
  `hochgeladen_von` bigint(20) unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `gebaeude_dokumente_hochgeladen_von_foreign` (`hochgeladen_von`),
  KEY `gebaeude_dokumente_kategorie_index` (`kategorie`),
  KEY `gebaeude_dokumente_dateityp_index` (`dateityp`),
  KEY `gebaeude_dokumente_dokument_datum_index` (`dokument_datum`),
  KEY `gebaeude_dokumente_ist_wichtig_index` (`ist_wichtig`),
  KEY `gebaeude_dokumente_ist_archiviert_index` (`ist_archiviert`),
  KEY `gebaeude_dokumente_gebaeude_id_kategorie_index` (`gebaeude_id`,`kategorie`),
  CONSTRAINT `gebaeude_dokumente_gebaeude_id_foreign` FOREIGN KEY (`gebaeude_id`) REFERENCES `gebaeude` (`id`) ON DELETE CASCADE,
  CONSTRAINT `gebaeude_dokumente_hochgeladen_von_foreign` FOREIGN KEY (`hochgeladen_von`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;


-- ===============================================================
-- Table: gebaeude_logs
-- ===============================================================

DROP TABLE IF EXISTS `gebaeude_logs`;

CREATE TABLE `gebaeude_logs` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `gebaeude_id` bigint(20) unsigned NOT NULL,
  `typ` varchar(50) NOT NULL,
  `titel` varchar(255) NOT NULL,
  `beschreibung` text DEFAULT NULL,
  `user_id` bigint(20) unsigned DEFAULT NULL,
  `metadata` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`metadata`)),
  `dokument_pfad` varchar(500) DEFAULT NULL,
  `referenz_id` bigint(20) unsigned DEFAULT NULL,
  `referenz_typ` varchar(50) DEFAULT NULL,
  `kontakt_person` varchar(100) DEFAULT NULL,
  `kontakt_telefon` varchar(50) DEFAULT NULL,
  `kontakt_email` varchar(100) DEFAULT NULL,
  `prioritaet` enum('niedrig','normal','hoch','kritisch') NOT NULL DEFAULT 'normal',
  `ist_oeffentlich` tinyint(1) NOT NULL DEFAULT 0,
  `erinnerung_datum` date DEFAULT NULL,
  `erinnerung_erledigt` tinyint(1) NOT NULL DEFAULT 0,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `gebaeude_logs_user_id_foreign` (`user_id`),
  KEY `gebaeude_logs_gebaeude_id_created_at_index` (`gebaeude_id`,`created_at`),
  KEY `gebaeude_logs_gebaeude_id_typ_index` (`gebaeude_id`,`typ`),
  KEY `gebaeude_logs_typ_index` (`typ`),
  KEY `gebaeude_logs_erinnerung_datum_index` (`erinnerung_datum`),
  KEY `gebaeude_logs_prioritaet_index` (`prioritaet`),
  CONSTRAINT `gebaeude_logs_gebaeude_id_foreign` FOREIGN KEY (`gebaeude_id`) REFERENCES `gebaeude` (`id`) ON DELETE CASCADE,
  CONSTRAINT `gebaeude_logs_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=18 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;


-- ===============================================================
-- Table: job_batches
-- ===============================================================

DROP TABLE IF EXISTS `job_batches`;

CREATE TABLE `job_batches` (
  `id` varchar(255) NOT NULL,
  `name` varchar(255) NOT NULL,
  `total_jobs` int(11) NOT NULL,
  `pending_jobs` int(11) NOT NULL,
  `failed_jobs` int(11) NOT NULL,
  `failed_job_ids` longtext NOT NULL,
  `options` mediumtext DEFAULT NULL,
  `cancelled_at` int(11) DEFAULT NULL,
  `created_at` int(11) NOT NULL,
  `finished_at` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;


-- ===============================================================
-- Table: jobs
-- ===============================================================

DROP TABLE IF EXISTS `jobs`;

CREATE TABLE `jobs` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `queue` varchar(255) NOT NULL,
  `payload` longtext NOT NULL,
  `attempts` tinyint(3) unsigned NOT NULL,
  `reserved_at` int(10) unsigned DEFAULT NULL,
  `available_at` int(10) unsigned NOT NULL,
  `created_at` int(10) unsigned NOT NULL,
  PRIMARY KEY (`id`),
  KEY `jobs_queue_index` (`queue`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;


-- ===============================================================
-- Table: mahnung_ausschluesse
-- ===============================================================

DROP TABLE IF EXISTS `mahnung_ausschluesse`;

CREATE TABLE `mahnung_ausschluesse` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `adresse_id` bigint(20) unsigned NOT NULL,
  `grund` varchar(255) DEFAULT NULL,
  `bis_datum` date DEFAULT NULL,
  `aktiv` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `mahnung_ausschluesse_adresse_id_unique` (`adresse_id`),
  CONSTRAINT `mahnung_ausschluesse_adresse_id_foreign` FOREIGN KEY (`adresse_id`) REFERENCES `adressen` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;


-- ===============================================================
-- Table: mahnung_einstellungen
-- ===============================================================

DROP TABLE IF EXISTS `mahnung_einstellungen`;

CREATE TABLE `mahnung_einstellungen` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `schluessel` varchar(100) NOT NULL,
  `wert` varchar(255) NOT NULL,
  `beschreibung` varchar(500) DEFAULT NULL,
  `typ` varchar(20) NOT NULL DEFAULT 'integer',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `mahnung_einstellungen_schluessel_unique` (`schluessel`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;


-- ===============================================================
-- Table: mahnung_rechnung_ausschluesse
-- ===============================================================

DROP TABLE IF EXISTS `mahnung_rechnung_ausschluesse`;

CREATE TABLE `mahnung_rechnung_ausschluesse` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `rechnung_id` bigint(20) unsigned NOT NULL,
  `grund` varchar(255) DEFAULT NULL,
  `bis_datum` date DEFAULT NULL,
  `aktiv` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `mahnung_rechnung_ausschluesse_rechnung_id_unique` (`rechnung_id`),
  CONSTRAINT `mahnung_rechnung_ausschluesse_rechnung_id_foreign` FOREIGN KEY (`rechnung_id`) REFERENCES `rechnungen` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;


-- ===============================================================
-- Table: mahnung_stufen
-- ===============================================================

DROP TABLE IF EXISTS `mahnung_stufen`;

CREATE TABLE `mahnung_stufen` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `stufe` int(11) NOT NULL,
  `name_de` varchar(100) NOT NULL,
  `name_it` varchar(100) NOT NULL,
  `tage_ueberfaellig` int(11) NOT NULL,
  `spesen` decimal(8,2) NOT NULL DEFAULT 0.00,
  `text_de` text NOT NULL,
  `text_it` text NOT NULL,
  `betreff_de` varchar(255) NOT NULL,
  `betreff_it` varchar(255) NOT NULL,
  `aktiv` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `mahnung_stufen_stufe_unique` (`stufe`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;


-- ===============================================================
-- Table: mahnungen
-- ===============================================================

DROP TABLE IF EXISTS `mahnungen`;

CREATE TABLE `mahnungen` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `rechnung_id` bigint(20) unsigned NOT NULL,
  `mahnung_stufe_id` bigint(20) unsigned NOT NULL,
  `mahnstufe` int(11) NOT NULL,
  `mahndatum` date NOT NULL,
  `tage_ueberfaellig` int(11) NOT NULL,
  `rechnungsbetrag` decimal(10,2) NOT NULL,
  `spesen` decimal(8,2) NOT NULL DEFAULT 0.00,
  `gesamtbetrag` decimal(10,2) NOT NULL,
  `versandart` enum('email','post','keine') NOT NULL DEFAULT 'keine',
  `email_gesendet_am` timestamp NULL DEFAULT NULL,
  `email_adresse` varchar(255) DEFAULT NULL,
  `email_fehler` tinyint(1) NOT NULL DEFAULT 0,
  `email_fehler_text` text DEFAULT NULL,
  `pdf_pfad` varchar(255) DEFAULT NULL,
  `status` enum('entwurf','gesendet','storniert') NOT NULL DEFAULT 'entwurf',
  `bemerkung` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `mahnungen_rechnung_id_mahnstufe_unique` (`rechnung_id`,`mahnstufe`),
  KEY `mahnungen_mahnung_stufe_id_foreign` (`mahnung_stufe_id`),
  CONSTRAINT `mahnungen_mahnung_stufe_id_foreign` FOREIGN KEY (`mahnung_stufe_id`) REFERENCES `mahnung_stufen` (`id`),
  CONSTRAINT `mahnungen_rechnung_id_foreign` FOREIGN KEY (`rechnung_id`) REFERENCES `rechnungen` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=61 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;


-- ===============================================================
-- Table: password_reset_tokens
-- ===============================================================

DROP TABLE IF EXISTS `password_reset_tokens`;

CREATE TABLE `password_reset_tokens` (
  `email` varchar(255) NOT NULL,
  `token` varchar(255) NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;


-- ===============================================================
-- Table: preis_aufschlaege
-- ===============================================================

DROP TABLE IF EXISTS `preis_aufschlaege`;

CREATE TABLE `preis_aufschlaege` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `jahr` year(4) NOT NULL,
  `prozent` decimal(5,2) NOT NULL DEFAULT 0.00 COMMENT 'Aufschlag in Prozent',
  `beschreibung` varchar(500) DEFAULT NULL COMMENT 'Z.B. "Inflation 2025"',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `preis_aufschlaege_jahr_index` (`jahr`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;


-- ===============================================================
-- Table: rechnung_logs
-- ===============================================================

DROP TABLE IF EXISTS `rechnung_logs`;

CREATE TABLE `rechnung_logs` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `rechnung_id` bigint(20) unsigned NOT NULL,
  `typ` varchar(50) NOT NULL,
  `titel` varchar(255) NOT NULL,
  `beschreibung` text DEFAULT NULL,
  `user_id` bigint(20) unsigned DEFAULT NULL,
  `metadata` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`metadata`)),
  `dokument_pfad` varchar(255) DEFAULT NULL,
  `referenz_id` bigint(20) unsigned DEFAULT NULL,
  `referenz_typ` varchar(100) DEFAULT NULL,
  `kontakt_person` varchar(255) DEFAULT NULL,
  `kontakt_telefon` varchar(255) DEFAULT NULL,
  `kontakt_email` varchar(255) DEFAULT NULL,
  `prioritaet` enum('niedrig','normal','hoch','kritisch') NOT NULL DEFAULT 'normal',
  `ist_oeffentlich` tinyint(1) NOT NULL DEFAULT 0,
  `erinnerung_datum` date DEFAULT NULL,
  `erinnerung_erledigt` tinyint(1) NOT NULL DEFAULT 0,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `rechnung_logs_user_id_foreign` (`user_id`),
  KEY `rechnung_logs_rechnung_id_typ_index` (`rechnung_id`,`typ`),
  KEY `rechnung_logs_rechnung_id_created_at_index` (`rechnung_id`,`created_at`),
  KEY `rechnung_logs_erinnerung_datum_index` (`erinnerung_datum`),
  KEY `rechnung_logs_typ_index` (`typ`),
  CONSTRAINT `rechnung_logs_rechnung_id_foreign` FOREIGN KEY (`rechnung_id`) REFERENCES `rechnungen` (`id`) ON DELETE CASCADE,
  CONSTRAINT `rechnung_logs_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=167 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;


-- ===============================================================
-- Table: rechnung_positionen
-- ===============================================================

DROP TABLE IF EXISTS `rechnung_positionen`;

CREATE TABLE `rechnung_positionen` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `legacy_id` bigint(20) unsigned DEFAULT NULL COMMENT 'Alte Access ID',
  `legacy_artikel_id` bigint(20) unsigned DEFAULT NULL COMMENT 'Alte Access idHerkunftArtikel',
  `rechnung_id` bigint(20) unsigned NOT NULL,
  `artikel_gebaeude_id` bigint(20) unsigned DEFAULT NULL,
  `position` int(10) unsigned NOT NULL DEFAULT 0,
  `beschreibung` varchar(500) NOT NULL,
  `anzahl` decimal(10,2) NOT NULL DEFAULT 1.00,
  `einheit` varchar(20) NOT NULL DEFAULT 'Stk',
  `einzelpreis` decimal(12,2) NOT NULL,
  `mwst_satz` decimal(5,2) NOT NULL DEFAULT 22.00,
  `netto_gesamt` decimal(12,2) NOT NULL,
  `mwst_betrag` decimal(12,2) NOT NULL DEFAULT 0.00,
  `brutto_gesamt` decimal(12,2) NOT NULL DEFAULT 0.00,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `rechnung_positionen_artikel_gebaeude_id_foreign` (`artikel_gebaeude_id`),
  KEY `rechnung_positionen_rechnung_id_position_index` (`rechnung_id`,`position`),
  KEY `idx_rechnung_positionen_legacy_id` (`legacy_id`),
  CONSTRAINT `rechnung_positionen_artikel_gebaeude_id_foreign` FOREIGN KEY (`artikel_gebaeude_id`) REFERENCES `artikel_gebaeude` (`id`) ON DELETE SET NULL,
  CONSTRAINT `rechnung_positionen_rechnung_id_foreign` FOREIGN KEY (`rechnung_id`) REFERENCES `rechnungen` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=15507 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;


-- ===============================================================
-- Table: rechnungen
-- ===============================================================

DROP TABLE IF EXISTS `rechnungen`;

CREATE TABLE `rechnungen` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `legacy_id` bigint(20) unsigned DEFAULT NULL COMMENT 'Alte Access idFatturaPA',
  `legacy_progressivo` bigint(20) unsigned DEFAULT NULL COMMENT 'Alte Access ProgressivoInvio',
  `jahr` year(4) NOT NULL,
  `laufnummer` int(10) unsigned NOT NULL,
  `gebaeude_id` bigint(20) unsigned DEFAULT NULL,
  `rechnungsempfaenger_id` bigint(20) unsigned DEFAULT NULL,
  `postadresse_id` bigint(20) unsigned DEFAULT NULL,
  `fattura_profile_id` bigint(20) unsigned DEFAULT NULL,
  `re_name` varchar(255) DEFAULT NULL,
  `re_strasse` varchar(255) DEFAULT NULL,
  `re_hausnummer` varchar(100) DEFAULT NULL,
  `re_plz` varchar(20) DEFAULT NULL,
  `re_wohnort` varchar(255) DEFAULT NULL,
  `re_provinz` varchar(10) DEFAULT NULL,
  `re_land` varchar(10) DEFAULT NULL,
  `re_steuernummer` varchar(50) DEFAULT NULL,
  `re_mwst_nummer` varchar(50) DEFAULT NULL,
  `re_codice_univoco` varchar(20) DEFAULT NULL,
  `re_pec` varchar(255) DEFAULT NULL,
  `post_name` varchar(255) DEFAULT NULL,
  `post_strasse` varchar(255) DEFAULT NULL,
  `post_hausnummer` varchar(100) DEFAULT NULL,
  `post_plz` varchar(20) DEFAULT NULL,
  `post_wohnort` varchar(255) DEFAULT NULL,
  `post_provinz` varchar(10) DEFAULT NULL,
  `post_land` varchar(10) DEFAULT NULL,
  `post_email` varchar(255) DEFAULT NULL,
  `post_pec` varchar(255) DEFAULT NULL,
  `geb_codex` varchar(50) DEFAULT NULL,
  `geb_name` varchar(255) DEFAULT NULL,
  `geb_adresse` varchar(500) DEFAULT NULL,
  `rechnungsdatum` date NOT NULL,
  `leistungsdaten` varchar(255) DEFAULT NULL COMMENT 'Textuelle Beschreibung des Leistungszeitraums / Leistungsdatums',
  `fattura_causale` text DEFAULT NULL,
  `zahlungsziel` date DEFAULT NULL,
  `bezahlt_am` date DEFAULT NULL,
  `netto_summe` decimal(12,2) NOT NULL DEFAULT 0.00,
  `mwst_betrag` decimal(12,2) NOT NULL DEFAULT 0.00,
  `brutto_summe` decimal(12,2) NOT NULL DEFAULT 0.00,
  `ritenuta_betrag` decimal(12,2) NOT NULL DEFAULT 0.00,
  `zahlbar_betrag` decimal(12,2) NOT NULL DEFAULT 0.00,
  `status` enum('draft','sent','paid','cancelled','overdue') NOT NULL DEFAULT 'draft',
  `typ_rechnung` enum('rechnung','gutschrift') NOT NULL DEFAULT 'rechnung',
  `profile_bezeichnung` varchar(100) DEFAULT NULL,
  `mwst_satz` decimal(5,2) NOT NULL DEFAULT 22.00,
  `split_payment` tinyint(1) NOT NULL DEFAULT 0,
  `reverse_charge` tinyint(1) NOT NULL DEFAULT 0,
  `ritenuta` tinyint(1) NOT NULL DEFAULT 0,
  `ritenuta_prozent` decimal(5,2) DEFAULT NULL,
  `aufschlag_prozent` decimal(5,2) DEFAULT NULL COMMENT 'Aufschlag in % (z.B. 3.5 f├╝r 3,5%)',
  `aufschlag_typ` enum('global','individuell','keiner') DEFAULT NULL COMMENT 'Quelle des Aufschlags',
  `cup` varchar(50) DEFAULT NULL,
  `cig` varchar(50) DEFAULT NULL,
  `codice_commessa` varchar(100) DEFAULT NULL,
  `auftrag_id` varchar(100) DEFAULT NULL,
  `auftrag_datum` date DEFAULT NULL,
  `bemerkung` text DEFAULT NULL,
  `angebot_referenz` varchar(20) DEFAULT NULL COMMENT 'Referenz zum urspr├╝nglichen Angebot (z.B. A2025/0001)',
  `bemerkung_kunde` text DEFAULT NULL,
  `zahlungsbedingungen` enum('sofort','netto_7','netto_14','netto_30','netto_60','netto_90','netto_120','bezahlt') DEFAULT 'netto_30',
  `pdf_pfad` varchar(500) DEFAULT NULL,
  `xml_pfad` varchar(500) DEFAULT NULL,
  `externe_referenz` varchar(100) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `rechnungen_jahr_laufnummer_unique` (`jahr`,`laufnummer`),
  KEY `rechnungen_rechnungsempfaenger_id_foreign` (`rechnungsempfaenger_id`),
  KEY `rechnungen_postadresse_id_foreign` (`postadresse_id`),
  KEY `rechnungen_fattura_profile_id_foreign` (`fattura_profile_id`),
  KEY `rechnungen_jahr_laufnummer_index` (`jahr`,`laufnummer`),
  KEY `rechnungen_status_zahlungsziel_index` (`status`,`zahlungsziel`),
  KEY `rechnungen_rechnungsdatum_index` (`rechnungsdatum`),
  KEY `rechnungen_gebaeude_id_status_index` (`gebaeude_id`,`status`),
  KEY `rechnungen_status_index` (`status`),
  KEY `idx_rechnungen_legacy_id` (`legacy_id`),
  CONSTRAINT `rechnungen_fattura_profile_id_foreign` FOREIGN KEY (`fattura_profile_id`) REFERENCES `fattura_profile` (`id`) ON DELETE SET NULL,
  CONSTRAINT `rechnungen_gebaeude_id_foreign` FOREIGN KEY (`gebaeude_id`) REFERENCES `gebaeude` (`id`) ON DELETE SET NULL,
  CONSTRAINT `rechnungen_postadresse_id_foreign` FOREIGN KEY (`postadresse_id`) REFERENCES `adressen` (`id`) ON DELETE SET NULL,
  CONSTRAINT `rechnungen_rechnungsempfaenger_id_foreign` FOREIGN KEY (`rechnungsempfaenger_id`) REFERENCES `adressen` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=8612 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;


-- ===============================================================
-- Table: sessions
-- ===============================================================

DROP TABLE IF EXISTS `sessions`;

CREATE TABLE `sessions` (
  `id` varchar(255) NOT NULL,
  `user_id` bigint(20) unsigned DEFAULT NULL,
  `ip_address` varchar(45) DEFAULT NULL,
  `user_agent` text DEFAULT NULL,
  `payload` longtext NOT NULL,
  `last_activity` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `sessions_user_id_index` (`user_id`),
  KEY `sessions_last_activity_index` (`last_activity`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;


-- ===============================================================
-- Table: timeline
-- ===============================================================

DROP TABLE IF EXISTS `timeline`;

CREATE TABLE `timeline` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `gebaeude_id` int(10) unsigned NOT NULL,
  `datum` date NOT NULL,
  `verrechnen` tinyint(1) NOT NULL DEFAULT 1 COMMENT 'Gibt an, ob der Timeline-Eintrag verrechnet werden soll',
  `verrechnet_am` date DEFAULT NULL COMMENT 'Datum, an dem der Timeline-Eintrag verrechnet wurde',
  `verrechnet_mit_rn_nummer` varchar(20) DEFAULT NULL COMMENT 'Rechnungsnummer, mit der der Timeline-Eintrag verrechnet wurde',
  `bemerkung` text NOT NULL,
  `person_name` varchar(150) NOT NULL,
  `person_id` int(10) unsigned NOT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `timeline_gebaeude_id_index` (`gebaeude_id`),
  KEY `timeline_datum_index` (`datum`),
  KEY `timeline_person_id_index` (`person_id`),
  KEY `timeline_verrechnen_index` (`verrechnen`)
) ENGINE=InnoDB AUTO_INCREMENT=6255 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;


-- ===============================================================
-- Table: tour
-- ===============================================================

DROP TABLE IF EXISTS `tour`;

CREATE TABLE `tour` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `reihenfolge` int(10) unsigned NOT NULL DEFAULT 0,
  `name` varchar(100) NOT NULL,
  `beschreibung` text DEFAULT NULL,
  `aktiv` tinyint(1) DEFAULT 1,
  `deleted_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `tour_name_unique` (`name`),
  KEY `tour_reihenfolge_index` (`reihenfolge`)
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;


-- ===============================================================
-- Table: tourgebaeude
-- ===============================================================

DROP TABLE IF EXISTS `tourgebaeude`;

CREATE TABLE `tourgebaeude` (
  `tour_id` bigint(20) unsigned NOT NULL,
  `gebaeude_id` bigint(20) unsigned NOT NULL,
  `reihenfolge` int(11) NOT NULL DEFAULT 0,
  PRIMARY KEY (`tour_id`,`gebaeude_id`),
  KEY `tourgebaeude_tour_id_reihenfolge_index` (`tour_id`,`reihenfolge`),
  KEY `tourgebaeude_gebaeude_id_foreign` (`gebaeude_id`),
  CONSTRAINT `tourgebaeude_gebaeude_id_foreign` FOREIGN KEY (`gebaeude_id`) REFERENCES `gebaeude` (`id`) ON DELETE CASCADE,
  CONSTRAINT `tourgebaeude_tour_id_foreign` FOREIGN KEY (`tour_id`) REFERENCES `tour` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;


-- ===============================================================
-- Table: unternehmensprofil
-- ===============================================================

DROP TABLE IF EXISTS `unternehmensprofil`;

CREATE TABLE `unternehmensprofil` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `firmenname` varchar(255) NOT NULL COMMENT 'Offizieller Firmenname',
  `firma_zusatz` varchar(255) DEFAULT NULL COMMENT 'Zusatz (z.B. "GmbH", "SRL")',
  `geschaeftsfuehrer` varchar(255) DEFAULT NULL COMMENT 'Name Gesch├ñftsf├╝hrer',
  `handelsregister` varchar(255) DEFAULT NULL COMMENT 'Handelsregisternummer',
  `registergericht` varchar(255) DEFAULT NULL COMMENT 'Registergericht',
  `strasse` varchar(255) NOT NULL COMMENT 'Stra├ƒe',
  `hausnummer` varchar(10) NOT NULL COMMENT 'Hausnummer',
  `adresszusatz` varchar(255) DEFAULT NULL COMMENT 'Adresszusatz (Stockwerk, etc.)',
  `postleitzahl` varchar(10) NOT NULL COMMENT 'PLZ',
  `ort` varchar(255) NOT NULL COMMENT 'Ort/Stadt',
  `bundesland` varchar(255) DEFAULT NULL COMMENT 'Bundesland/Provinz',
  `land` varchar(2) NOT NULL DEFAULT 'IT' COMMENT 'Land (ISO 2-stellig)',
  `telefon` varchar(30) DEFAULT NULL COMMENT 'Telefon',
  `telefon_mobil` varchar(30) DEFAULT NULL COMMENT 'Mobiltelefon',
  `fax` varchar(30) DEFAULT NULL COMMENT 'Fax',
  `email` varchar(255) NOT NULL COMMENT 'Haupt-E-Mail',
  `email_buchhaltung` varchar(255) DEFAULT NULL COMMENT 'E-Mail Buchhaltung',
  `website` varchar(255) DEFAULT NULL COMMENT 'Webseite',
  `steuernummer` varchar(255) DEFAULT NULL COMMENT 'Steuernummer',
  `umsatzsteuer_id` varchar(255) DEFAULT NULL COMMENT 'USt-IdNr. / Partita IVA',
  `bank_name` varchar(255) DEFAULT NULL COMMENT 'Name der Bank',
  `iban` varchar(34) DEFAULT NULL COMMENT 'IBAN',
  `bic` varchar(11) DEFAULT NULL COMMENT 'BIC/SWIFT',
  `kontoinhaber` varchar(255) DEFAULT NULL COMMENT 'Kontoinhaber (falls abweichend)',
  `smtp_host` varchar(255) DEFAULT NULL COMMENT 'SMTP Server',
  `smtp_port` int(11) DEFAULT 587 COMMENT 'SMTP Port',
  `smtp_verschluesselung` varchar(10) DEFAULT 'tls' COMMENT 'TLS/SSL',
  `smtp_benutzername` varchar(255) DEFAULT NULL COMMENT 'SMTP Login',
  `smtp_passwort` varchar(255) DEFAULT NULL COMMENT 'SMTP Passwort (verschl├╝sselt)',
  `email_absender` varchar(255) DEFAULT NULL COMMENT 'Absender E-Mail',
  `email_absender_name` varchar(255) DEFAULT NULL COMMENT 'Absender Name',
  `email_antwort_an` varchar(255) DEFAULT NULL COMMENT 'Reply-To E-Mail',
  `email_cc` varchar(255) DEFAULT NULL COMMENT 'CC (mehrere durch Komma)',
  `email_bcc` varchar(255) DEFAULT NULL COMMENT 'BCC (mehrere durch Komma)',
  `email_signatur` text DEFAULT NULL COMMENT 'Standard E-Mail Signatur',
  `email_fusszeile` text DEFAULT NULL COMMENT 'Standard E-Mail Fu├ƒzeile',
  `pec_smtp_host` varchar(255) DEFAULT NULL COMMENT 'PEC SMTP Server',
  `pec_smtp_port` int(11) DEFAULT 587 COMMENT 'PEC SMTP Port',
  `pec_smtp_verschluesselung` varchar(10) DEFAULT 'tls' COMMENT 'PEC TLS/SSL',
  `pec_smtp_benutzername` varchar(255) DEFAULT NULL COMMENT 'PEC SMTP Login',
  `pec_smtp_passwort` varchar(255) DEFAULT NULL COMMENT 'PEC SMTP Passwort (verschl├╝sselt)',
  `pec_email_absender` varchar(255) DEFAULT NULL COMMENT 'PEC Absender E-Mail (zertifiziert)',
  `pec_email_absender_name` varchar(255) DEFAULT NULL COMMENT 'PEC Absender Name',
  `pec_email_antwort_an` varchar(255) DEFAULT NULL COMMENT 'PEC Reply-To E-Mail',
  `pec_email_cc` varchar(255) DEFAULT NULL COMMENT 'PEC CC (mehrere durch Komma)',
  `pec_email_bcc` varchar(255) DEFAULT NULL COMMENT 'PEC BCC (mehrere durch Komma)',
  `pec_email_signatur` text DEFAULT NULL COMMENT 'PEC E-Mail Signatur',
  `pec_email_fusszeile` text DEFAULT NULL COMMENT 'PEC E-Mail Fu├ƒzeile',
  `pec_aktiv` tinyint(1) NOT NULL DEFAULT 0 COMMENT 'PEC E-Mail-Versand aktiviert',
  `logo_pfad` varchar(255) DEFAULT NULL COMMENT 'Pfad zum Haupt-Logo',
  `logo_rechnung_pfad` varchar(255) DEFAULT NULL COMMENT 'Logo f├╝r Rechnungen',
  `logo_email_pfad` varchar(255) DEFAULT NULL COMMENT 'Logo f├╝r E-Mails',
  `logo_breite` int(11) DEFAULT 200 COMMENT 'Logo Breite (px)',
  `logo_hoehe` int(11) DEFAULT 80 COMMENT 'Logo H├Âhe (px)',
  `briefkopf_text` text DEFAULT NULL COMMENT 'Zus├ñtzlicher Text im Briefkopf',
  `briefkopf_rechts` text DEFAULT NULL COMMENT 'Text rechts oben',
  `fusszeile_text` text DEFAULT NULL COMMENT 'Fu├ƒzeile auf allen Seiten',
  `farbe_primaer` varchar(7) DEFAULT '#003366' COMMENT 'Prim├ñrfarbe (z.B. #003366)',
  `farbe_sekundaer` varchar(7) DEFAULT '#666666' COMMENT 'Sekund├ñrfarbe',
  `farbe_akzent` varchar(7) DEFAULT '#0066CC' COMMENT 'Akzentfarbe',
  `schriftart` varchar(50) DEFAULT 'Helvetica' COMMENT 'Standard-Schriftart',
  `schriftgroesse` int(11) DEFAULT 10 COMMENT 'Standard-Schriftgr├Â├ƒe (pt)',
  `rechnungsnummer_praefix` varchar(10) DEFAULT NULL COMMENT 'Pr├ñfix (z.B. "RE-")',
  `rechnungsnummer_startjahr` int(11) DEFAULT 2025 COMMENT 'Jahr f├╝r Nummerierung',
  `rechnungsnummer_laenge` int(11) DEFAULT 5 COMMENT 'L├ñnge Laufnummer (z.B. 5 = 00001)',
  `zahlungsziel_tage` int(11) DEFAULT 30 COMMENT 'Standard Zahlungsziel (Tage)',
  `zahlungshinweis` text DEFAULT NULL COMMENT 'Text auf Rechnung (z.B. "Bitte unter Angabe...")',
  `kleinunternehmer_hinweis` text DEFAULT NULL COMMENT 'Kleinunternehmer ┬º19 UStG Text',
  `rechnung_einleitung` text DEFAULT NULL COMMENT 'Standard Einleitungstext',
  `rechnung_schlusstext` text DEFAULT NULL COMMENT 'Standard Schlusstext',
  `rechnung_agb_text` text DEFAULT NULL COMMENT 'AGB-Text f├╝r Rechnung',
  `ragione_sociale` varchar(255) DEFAULT NULL COMMENT 'IT: Offizielle Firmenbezeichnung',
  `partita_iva` varchar(11) DEFAULT NULL COMMENT 'IT: Partita IVA (11 Ziffern)',
  `codice_fiscale` varchar(16) DEFAULT NULL COMMENT 'IT: Codice Fiscale',
  `regime_fiscale` varchar(4) DEFAULT 'RF01' COMMENT 'IT: RF01-RF19',
  `pec_email` varchar(255) DEFAULT NULL COMMENT 'IT: Zertifizierte PEC E-Mail',
  `rea_ufficio` varchar(2) DEFAULT NULL COMMENT 'IT: REA B├╝ro (z.B. MI, RM)',
  `rea_numero` varchar(20) DEFAULT NULL COMMENT 'IT: REA Nummer',
  `capitale_sociale` decimal(15,2) DEFAULT NULL COMMENT 'IT: Stammkapital',
  `stato_liquidazione` enum('LN','LS') NOT NULL DEFAULT 'LN' COMMENT 'IT: LN=Nicht in Liquidation',
  `waehrung` varchar(3) NOT NULL DEFAULT 'EUR' COMMENT 'W├ñhrung (ISO 3-stellig)',
  `sprache` varchar(2) NOT NULL DEFAULT 'de' COMMENT 'Standard-Sprache (ISO 2-stellig)',
  `zeitzone` varchar(50) NOT NULL DEFAULT 'Europe/Rome' COMMENT 'Zeitzone',
  `datumsformat` varchar(20) NOT NULL DEFAULT 'd.m.Y' COMMENT 'Datumsformat (PHP)',
  `zahlenformat` varchar(20) NOT NULL DEFAULT 'de_DE' COMMENT 'Zahlenformat Locale',
  `ist_kleinunternehmer` tinyint(1) NOT NULL DEFAULT 0 COMMENT 'Kleinunternehmer ┬º19 UStG',
  `mwst_ausweisen` tinyint(1) NOT NULL DEFAULT 1 COMMENT 'MwSt auf Dokumenten ausweisen',
  `standard_mwst_satz` decimal(5,2) NOT NULL DEFAULT 22.00 COMMENT 'Standard MwSt-Satz (%)',
  `ist_aktiv` tinyint(1) NOT NULL DEFAULT 1 COMMENT 'Aktives Profil',
  `notizen` text DEFAULT NULL COMMENT 'Interne Notizen',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `unternehmensprofil_ist_aktiv_index` (`ist_aktiv`),
  KEY `unternehmensprofil_firmenname_index` (`firmenname`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Zentrales Unternehmensprofil mit allen Einstellungen';


-- ===============================================================
-- Table: users
-- ===============================================================

DROP TABLE IF EXISTS `users`;

CREATE TABLE `users` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `email` varchar(255) NOT NULL,
  `email_verified_at` timestamp NULL DEFAULT NULL,
  `password` varchar(255) NOT NULL,
  `remember_token` varchar(100) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `users_email_unique` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;


-- ===============================================================
-- EXPORT FERTIG
-- ===============================================================
